.card {
    display: grid;
    grid-template-rows: 28px 43.2px repeat(3, 28px);
    grid-template-columns: repeat(2, auto);
    font-size: 18px;
}

.condition,
.feels_like,
.humidity,
.windspeed {
    display: flex;
    align-items: center;
}

.condition {
    grid-row: 1/2;
    grid-column: 1/3;
}

.condition img {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
}

.location {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 32px;
}

.actual_temp {
    grid-row: 3/6;
    grid-column: 1/2;
    font-size: 48px;
}

.feels_like {
    grid-row: 3/4;
    grid-column: 2/3;
}

.windspeed {
    grid-row: 4/5;
    grid-column: 2/3;
}

.humidity {
    grid-row: 5/6;
    grid-column: 2/3;
}
